body{
  background-color: purple;
}
h1 {
  font-size: 64px;
  font-family: Helvetica;
  color: white;
  text-align: center;
  text-shadow: 2px;
}

a {
  font-size: 16px;
  color: yellow;
  font-family: Helvetica;
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
img {
  box-sizing:border-box;
  max-width: 500px;

}
